src/template/index.pug
extends _layout

block content
    .welcome
        h1 Показываем как работают люди. В цифрах
        h3 Узнайте, из чего складывается профессионализм, чтобы <br> максимально раскрыть потенциал
        img(src="img/inagte.jpg", alt="")
    .metrica
        h2 Метрики профессионализма
        h3 Посмотрите, как мы показываем информацию <br> о ваших сотрудниках и отделах.
        .metricaContent
            .metricaSliderWrap
                .metricaSlider.swiper-container
                    .swiper-wrapper
                        .metricaSlide.swiper-slide
                            img(src='./img/notebook.png')
                        .metricaSlide.swiper-slide
                            img(src='./img/inagte.jpg')
                        .metricaSlide.swiper-slide
                            img(src='./img/notebook.png')
                        .metricaSlide.swiper-slide
                            img(src='./img/inagte.jpg')
            .metricaSliderControl
                .metricaSliderControlItem.metricaSliderControlItemActive
                    h4 ОБЩАЯ КАРТИНА
                    p Основные метрики и показатели компании собраны на одном экране.  Настройте виджеты под себя.
                .metricaSliderControlItem
                    h4 ЕДИНИЦА СМЫСЛА — ЧЕЛОВЕК
                    p Метрики компании складываются из показателей каждого сотрудника: продуктивность, активности и время.
                .metricaSliderControlItem
                    h4 КАК ДОСТИГАЕТСЯ РЕЗУЛЬТАТ
                    p Аналитические отчеты покажут, где скрыты проблемы и за счет чего достигнуты успехи и победы.
                .metricaSliderControlItem
                    h4 СРАВНИВАЙТЕ СОТРУДНИКОВ И ОТДЕЛЫ
                    p Выявляйте зависимости и сегментируйте ваших работников. Узнавайте как изменения в процессах влияют на их работу.
    .feature
        .featureItems
            .featureItem
                img(src='./img/feature-1.svg')
                h4 РАБОТА СОТРУДНИКОВ
                p Посмотрите, чем заняты ваши сотрудники. Информация о письмах, звонках, встречах и задачах подгружается автоматически.
            .featureItem
                img(src='./img/feature-2.svg')
                h4 ГДЕ ПРЯЧУТСЯ ПРОБЛЕМЫ
                p Найдите в отчетах Дисциплины информацию о неэффективных процессах и ошибках  в организации работы
            .featureItem
                img(src='./img/feature-3.svg')
                h4 МЕТРИКИ КОМПАНИИ
                p Объективно оцените работу сотрудников и отделов. Вводите изменения и замеряйте результат  в цифрах.
    .case
        h2 Кейсы внедрения Дисциплины
        h3 Узнайте, как мы помогаем компаниям из разных отраслей <br> обиваться успеха и улучшать показатели.
        .caseSliderControl
            .caseSliderControlItem.caseSliderControlItemBlue.caseSliderControlItemActive
                | Бухгалтерия
            .caseSliderControlItem.caseSliderControlItemOrange
                | Мэрия Казани
            .caseSliderControlItem.caseSliderControlItemBlack
                | Машиностроение
        .caseSlider.swiper-container
            .swiper-wrapper
                .caseSlide.swiper-slide
                    .caseSlideLeft
                        .caseSlideContent
                            h3 Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»
                            p После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.
                            a(href="#").buttonBlue
                                | Подробнее о кейсе
                                span →

                    .caseSlideRight
                        img(src='./img/ofis-s-devushkoy.jpg')
                .caseSlide.swiper-slide
                    .caseSlideLeft
                         .caseSlideContent
                            h3 Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»
                            p После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.
                            a(href="#").buttonBlue
                                | Подробнее о кейсе
                                span →

                    .caseSlideRight
                        img(src='./img/ofis-s-devushkoy.jpg')
                .caseSlide.swiper-slide
                    .caseSlideLeft
                        .caseSlideContent
                            h3 Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»
                            p После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.
                            a(href="#").buttonBlue
                                | Подробнее о кейсе
                                span →
                    .caseSlideRight
                        img(src='./img/ofis-s-devushkoy.jpg')

    .subscribe
        h2 Дисциплина в вашей компании
        p Оставьте адрес вашей электронной почты, чтобы менеджер связался с вами и провел презентацию.
        form.subscribeForm
            input.input(placeholder="Адрес электронной почты")
            button(type="submit") Попробовать
        .subscribeTrust
            p Нам уже доверяют лидеры Казани и России
            .subscribeTrustLogo
                img(src="img/logos.png")

build/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Discipline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="./css/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <svg style="height: 0; width: 0; position: absolute; visibility: hidden"><svg xmlns="http://www.w3.org/2000/svg"><symbol id="icon-close" viewBox="0 0 28 28"><title>67BAC34B-A523-43F3-9D1D-9441190A2D2A</title><g fill="none" fill-rule="evenodd"><path fill="#FFF" d="M28 2.82L25.18 0 14 11.18 2.82 0 0 2.82 11.18 14 0 25.18 2.82 28 14 16.82 25.18 28 28 25.18 16.82 14z"/><path d="M-10-10h48v48h-48z"/></g></symbol><symbol id="icon-fb" viewBox="0 0 27.8901 59.4792"><path data-name="facebook" d="M27.832.018v9.571s-7.055-.703-8.822 2.001c-.966 1.477-.393 5.804-.478 8.912h9.358c-.791 3.633-1.358 6.096-1.94 9.24h-7.47V59.48H5.516c.003-9.168-.002-19.862 0-29.62H0v-9.357h5.455c.28-6.842.385-13.62 3.784-17.07C13.059-.449 16.7.017 27.831.017z"/></symbol><symbol id="icon-vk" viewBox="0 0 61.5141 35.0935"><title>icon-vk</title><path d="M30.097 34.946h3.677a3.109 3.109 0 0 0 1.678-.733 2.691 2.691 0 0 0 .505-1.615s-.072-4.934 2.218-5.66c2.257-.716 5.156 4.768 8.228 6.877a5.827 5.827 0 0 0 4.089 1.246l8.214-.115s4.297-.265 2.26-3.643c-.167-.276-1.187-2.5-6.108-7.068-5.152-4.78-4.461-4.007 1.744-12.277C60.38 6.92 61.89 3.847 61.419 2.53c-.45-1.255-3.23-.923-3.23-.923l-9.249.057a2.1 2.1 0 0 0-1.195.21 2.58 2.58 0 0 0-.816.993 53.651 53.651 0 0 1-3.416 7.212c-4.119 6.993-5.766 7.363-6.439 6.929-1.566-1.013-1.175-4.066-1.175-6.236 0-6.778 1.028-9.604-2.002-10.335a15.814 15.814 0 0 0-4.317-.43c-3.3-.033-6.093.01-7.675.786-1.052.515-1.864 1.663-1.37 1.73a4.151 4.151 0 0 1 2.73 1.372c.948 1.29.915 4.185.915 4.185s.545 7.979-1.272 8.97c-1.247.68-2.957-.708-6.629-7.053a59.013 59.013 0 0 1-3.302-6.843 2.748 2.748 0 0 0-.762-1.031 3.82 3.82 0 0 0-1.42-.573l-8.79.057s-1.32.037-1.804.61C-.23 2.728.167 3.783.167 3.783s6.88 16.1 14.672 24.212c7.146 7.44 15.258 6.951 15.258 6.951z" data-name="&#xD1;&#xEB;&#xEE;&#xE9; 1"/></symbol><symbol id="icon-yt" viewBox="0 0 55.9867 38.4951"><title>icon-yt</title><path data-name="youtube" d="M47.381.017L29.094 0 10.092.017C5.338.017 0 3.189 0 7.843v23.163c0 4.652 5.338 7.49 10.092 7.49H47.38c4.753 0 8.606-2.838 8.606-7.49V7.843c0-4.654-3.853-7.826-8.606-7.826zm-23.007 28.15l-.11-17.64 12.276 8.897z"/></symbol></svg></svg>
    <div class="header"><a class="headerLogo" href="#">
        <div class="headerLogoIcon"></div>
        <div class="headerLogoText">Disciplina</div></a>
      <div class="headerMenu"><a class="headerMenuItem" href="#">Продукты</a><a class="headerMenuItem" href="#">Стоимость</a><a class="headerMenuItem" href="#">О компании</a><a class="headerMenuItem" href="#">Контакты</a></div>
      <div class="headerTry"><a class="buttonBlue js-popup" href="#">Попробовать</a></div>
    </div>
    <div class="popup">
      <div class="popupClose">
            <svg class="icon-close">
              <use xlink:href="#icon-close"></use>
            </svg>
      </div>
      <div class="popupContent">
        <div class="popupFormHeader">
          <h2>Остались вопросы?</h2>
          <p>Свяжитесь с нами и на ваш вопрос ответи <br> менеджер по поддержке клиентов.</p>
        </div>
        <form class="popupForm">
          <div class="popupFormItem">
            <input placeholder="Имя">
          </div>
          <div class="popupFormItem">
            <input placeholder="Эл. почта или телефон">
          </div>
          <div class="popupFormItem">
            <textarea placeholder="Ваш вопрос"></textarea>
          </div>
          <div class="popupFormItem">
            <button type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
    <div class="main">
      <div class="welcome">
        <h1>Показываем как работают люди. В цифрах</h1>
        <h3>Узнайте, из чего складывается профессионализм, чтобы <br> максимально раскрыть потенциал</h3><img src="img/inagte.jpg" alt="">
      </div>
      <div class="metrica">
        <h2>Метрики профессионализма</h2>
        <h3>Посмотрите, как мы показываем информацию <br> о ваших сотрудниках и отделах.</h3>
        <div class="metricaContent">
          <div class="metricaSliderWrap">
            <div class="metricaSlider swiper-container">
              <div class="swiper-wrapper">
                <div class="metricaSlide swiper-slide"><img src="./img/notebook.png"></div>
                <div class="metricaSlide swiper-slide"><img src="./img/inagte.jpg"></div>
                <div class="metricaSlide swiper-slide"><img src="./img/notebook.png"></div>
                <div class="metricaSlide swiper-slide"><img src="./img/inagte.jpg"></div>
              </div>
            </div>
          </div>
          <div class="metricaSliderControl">
            <div class="metricaSliderControlItem metricaSliderControlItemActive">
              <h4>ОБЩАЯ КАРТИНА</h4>
              <p>Основные метрики и показатели компании собраны на одном экране.  Настройте виджеты под себя.</p>
            </div>
            <div class="metricaSliderControlItem">
              <h4>ЕДИНИЦА СМЫСЛА — ЧЕЛОВЕК</h4>
              <p>Метрики компании складываются из показателей каждого сотрудника: продуктивность, активности и время.</p>
            </div>
            <div class="metricaSliderControlItem">
              <h4>КАК ДОСТИГАЕТСЯ РЕЗУЛЬТАТ</h4>
              <p>Аналитические отчеты покажут, где скрыты проблемы и за счет чего достигнуты успехи и победы.</p>
            </div>
            <div class="metricaSliderControlItem">
              <h4>СРАВНИВАЙТЕ СОТРУДНИКОВ И ОТДЕЛЫ</h4>
              <p>Выявляйте зависимости и сегментируйте ваших работников. Узнавайте как изменения в процессах влияют на их работу.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="featureItems">
          <div class="featureItem"><img src="./img/feature-1.svg">
            <h4>РАБОТА СОТРУДНИКОВ</h4>
            <p>Посмотрите, чем заняты ваши сотрудники. Информация о письмах, звонках, встречах и задачах подгружается автоматически.</p>
          </div>
          <div class="featureItem"><img src="./img/feature-2.svg">
            <h4>ГДЕ ПРЯЧУТСЯ ПРОБЛЕМЫ</h4>
            <p>Найдите в отчетах Дисциплины информацию о неэффективных процессах и ошибках  в организации работы</p>
          </div>
          <div class="featureItem"><img src="./img/feature-3.svg">
            <h4>МЕТРИКИ КОМПАНИИ</h4>
            <p>Объективно оцените работу сотрудников и отделов. Вводите изменения и замеряйте результат  в цифрах.</p>
          </div>
        </div>
      </div>
      <div class="case">
        <h2>Кейсы внедрения Дисциплины</h2>
        <h3>Узнайте, как мы помогаем компаниям из разных отраслей <br> обиваться успеха и улучшать показатели.</h3>
        <div class="caseSliderControl">
          <div class="caseSliderControlItem caseSliderControlItemBlue caseSliderControlItemActive">Бухгалтерия</div>
          <div class="caseSliderControlItem caseSliderControlItemOrange">Мэрия Казани</div>
          <div class="caseSliderControlItem caseSliderControlItemBlack">Машиностроение</div>
        </div>
        <div class="caseSlider swiper-container">
          <div class="swiper-wrapper">
            <div class="caseSlide swiper-slide">
              <div class="caseSlideLeft">
                <div class="caseSlideContent">
                  <h3>Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»</h3>
                  <p>После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.</p><a class="buttonBlue" href="#">Подробнее о кейсе<span>→</span></a>
                </div>
              </div>
              <div class="caseSlideRight"><img src="./img/ofis-s-devushkoy.jpg"></div>
            </div>
            <div class="caseSlide swiper-slide">
              <div class="caseSlideLeft">
                <div class="caseSlideContent">
                  <h3>Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»</h3>
                  <p>После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.</p><a class="buttonBlue" href="#">Подробнее о кейсе<span>→</span></a>
                </div>
              </div>
              <div class="caseSlideRight"><img src="./img/ofis-s-devushkoy.jpg"></div>
            </div>
            <div class="caseSlide swiper-slide">
              <div class="caseSlideLeft">
                <div class="caseSlideContent">
                  <h3>Увеличение продуктивности <br> бухгалтеров на 35% в компании  «Налоговый лоцман»</h3>
                  <p>После внедрения Дисциплины уменьшилось количество ненужных операций и простоев, увеличилось количество полезной работы и сумма времени выработки.</p><a class="buttonBlue" href="#">Подробнее о кейсе<span>→</span></a>
                </div>
              </div>
              <div class="caseSlideRight"><img src="./img/ofis-s-devushkoy.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="subscribe">
        <h2>Дисциплина в вашей компании</h2>
        <p>Оставьте адрес вашей электронной почты, чтобы менеджер связался с вами и провел презентацию.</p>
        <form class="subscribeForm">
          <input class="input" placeholder="Адрес электронной почты">
          <button type="submit">Попробовать</button>
        </form>
        <div class="subscribeTrust">
          <p>Нам уже доверяют лидеры Казани и России</p>
          <div class="subscribeTrustLogo"><img src="img/logos.png"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerMenu">
        <div class="footerMenuColumn"><a class="footerMenuItemHeader" href="#">Продукты</a>
          <div class="footerMenuRow"><a class="footerMenuItem" href="#">Кейсы</a><span>·</span><a class="footerMenuItem" href="#">Экосистема</a><span>·</span><a class="footerMenuItem" href="#">SAAS</a></div>
        </div>
        <div class="footerMenuColumn"><a class="footerMenuItemHeader" href="#">О компании</a><a class="footerMenuItem" href="#">Вакансии</a></div>
        <div class="footerMenuColumn"><a class="footerMenuItem" href="#">Стоимость</a><a class="footerMenuItem" href="#">Контакты</a></div>
        <div class="footerContact"><a class="footerPhone" href="tel:+8 800 670–90–20">8 800 670–90–20</a>
          <div class="footerSocial"><a href="#">
                  <svg class="icon-fb">
                    <use xlink:href="#icon-fb"></use>
                  </svg></a><a href="#">
                  <svg class="icon-yt">
                    <use xlink:href="#icon-yt"></use>
                  </svg></a><a href="#">
                  <svg class="icon-vk">
                    <use xlink:href="#icon-vk"></use>
                  </svg></a></div>
        </div>
      </div>
      <div class="footerCopyright">© 2013–2017, Дисциплина</div>
    </div>
    <script src="./js/app.js"></script>
  </body>
</html>
